body {
    background-color: rgb(206, 238, 238);
    color: black;
    width: 600px;
    box-shadow: 20px;
}
.section {background-color:wheat;
    color: blue;
    box-shadow: 20px;
    margin: 40px;
}